In [1]:
#Прочитайте csv файл (метод read_csv)
import pandas as pd

file_path = '/content/bestsellers with categories.csv'
df = pd.read_csv(file_path)

In [2]:
print(df.head(10))
#Виведіть перші 10 рядків (метод head)

                                                Name  \
0                      10-Day Green Smoothie Cleanse
1                                  11/22/63: A Novel
2            12 Rules for Life: An Antidote to Chaos
3                             1984 (Signet Classics)
4  5,000 Awesome Facts (About Everything!) (Natio...
5      A Dance with Dragons (A Song of Ice and Fire)
6  A Game of Thrones / A Clash of Kings / A Storm...
7                     A Gentleman in Moscow: A Novel
8      A Higher Loyalty: Truth, Lies, and Leadership
9                          A Man Called Ove: A Novel

                     Author  User Rating  Reviews  Price  Year        Genre
0                  JJ Smith          4.7    17350      8  2016  Non Fiction
1              Stephen King          4.6     2052     22  2011      Fiction
2        Jordan B. Peterson          4.7    18979     15  2018  Non Fiction
3             George Orwell          4.7    21424      6  2017      Fiction
4  National Geographic Kids          4.8     7665     12  2019  Non Fiction
5       George R. R. Martin          4.4    12643     11  2011      Fiction
6       George R. R. Martin          4.7    19735     30  2014      Fiction
7               Amor Towles          4.7    19699     15  2017      Fiction
8               James Comey          4.7     5983      3  2018  Non Fiction
9           Fredrik Backman          4.6    23848      8  2016      Fiction

In [3]:
print("Розміри датасету:", df.shape)
#Виведіть розміри датасету (метод shape)

Розміри датасету: (550, 7)

In [4]:
books_count = df.shape[0]
print("Кількість книг у датасеті:", books_count)

Кількість книг у датасеті: 550

In [5]:
df.columns = ['name', 'author', 'user_rating', 'reviews', 'price', 'year', 'genre']
#Змініть назви всіх колонок: назва з маленької букви, без пробілів через підкреслення.

In [8]:
#Вивести кількість пропусків у кожному стовпчику.
#Питання : Чи є в якихось змінних пропуски? (Так / ні)
missing_values = df.isna().sum()
print("Кількість пропусків у кожному стовпці:")
print(missing_values)

has_missing_values = any(missing_values > 0)
print("Чи є в якихось змінних пропуски?", "Так" if has_missing_values else "Ні")

Кількість пропусків у кожному стовпці:
name           0
author         0
user_rating    0
reviews        0
price          0
year           0
genre          0
dtype: int64
Чи є в якихось змінних пропуски? Ні

In [9]:
#За допомогою методу unique  перевірте. Які є унікальні жанри в стовпці genre  Питання : Які є унікальні жанри?
unique_genres = df['genre'].unique()
print("Унікальні жанри:", unique_genres)

Унікальні жанри: ['Non Fiction' 'Fiction']

In [10]:
#Визначте максимальну, мінімальну, медіанну ціну за допомогою методів  max, min, mean, median
#Питання: Максимальна ціна?
#Питання: Мінімальна ціна?
#Питання: Середня ціна?
#Питання: Медіанна ціна?
max_price = df['price'].max()
min_price = df['price'].min()
mean_price = df['price'].mean()
median_price = df['price'].median()

print("Макс ціна:", max_price)
print("Мін ціна:", min_price)
print("Сер ціна:", mean_price)
print("Мед ціна:", median_price)

Макс ціна: 105
Мін ціна: 0
Сер ціна: 13.1
Мед ціна: 11.0

In [16]:
# Який рейтинг у датасеті найвищий?
max_rating = df['user_rating'].max()
print("найбільший рейтинг у датасеті:", max_rating)

# Скільки книг мають такий рейтинг?
books_with_max_rating_count = df[df['user_rating'] == max_rating].shape[0]
print("книги із найвищим рейтингом:", books_with_max_rating_count)

# Яка книга має найбільше відгуків?
max_reviews_book = df.loc[df['reviews'].idxmax(), 'name']
print("Книга з найбільшею кількістю відгуків:", max_reviews_book)

# З тих книг, що потрапили до Топ-50 у 2010 році, яка книга найдорожча?
max_price_2010 = df[df['year'] == 2010]['price'].max()
most_expensive_book_2010 = df[(df['year'] == 2010) & (df['price'] == max_price_2010)]['name'].values[0]
print("книги у топ-50 у 2010 році:", most_expensive_book_2010)

# Скільки книг жанру Fiction потрапили до Топ-50 у 2012 році
fiction_books_2012_count = df[(df['genre'] == 'Fiction') & (df['year'] == 2012)].shape[0]
print("книги жанру Fiction у топ-50 у 2012 році:", fiction_books_2012_count)

# Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках
books_with_4_9_rating_count = df[(df['user_rating'] == 4.9) & (df['year'].isin([2010, 2011]))].shape[0]
print("книги з рейтингом 4.9 у 2010 та 2011 роках:", books_with_4_9_rating_count)

найбільший рейтинг у датасеті: 4.9
книги із найвищим рейтингом: 52
Книга з найбільшею кількістю відгуків: Where the Crawdads Sing
книги у топ-50 у 2010 році: Publication Manual of the American Psychological Association, 6th Edition
книги жанру Fiction у топ-50 у 2012 році: 21
книги з рейтингом 4.9 у 2010 та 2011 роках: 1

In [17]:
#Вивести максимальну і  мінімальну ціну для жанру Fiction I NonFiction (за допомогою методів  groupby та agg, для підрахунку мінімальних та максимальних значень використовуйте max та min). Використовуйте тількі потрібні вам стовпці.
grouped_prices = df.groupby('genre')['price'].agg(['max', 'min'])
print("Максимальна та мінімальна ціна для жанру Fiction та NonFiction:")
print(grouped_prices)

Максимальна та мінімальна ціна для жанру Fiction та NonFiction:
             max  min
genre
Fiction       82    0
Non Fiction  105    0

Висновок: в даній роботі було виконано аналіз даних з використанням зчитування csv файлу за допомогою бібліотеки pandas, використовувались різні методи для знаходження максимальних, мінімальних цін та медіан. Був зроблений пошук та сортування даних.